@use './variables';

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://images.unsplash.com/reserve/O7A9fAvYSXC7NTdz8gLQ_IMGP1039.jpg?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=900&ixid=MnwxfDB8MXxyYW5kb218MHx8bGFuZHNjYXBlfHx8fHx8MTY5MDgxODAzMw&ixlib=rb-4.0.3&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1600");
    background-position: center;
    background-repeat: no-repeat;
}

.box-major {
    background: rgba($color: #000000, $alpha: 0.8);
    border-radius: 25px;
    padding: 20px;
    width: 95%;
    max-width: 450px;
}

.input-town {
    border: none;
    padding: 10px;
    border-radius: 25px;
    font-size: 15px;
    background-color: variables.$secundary-color;
    color: variables.$terciaria-color;
    width: calc(100% - 50px);
}

.bhuao-search {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 50px;
    background-color: variables.$secundary-color;
    cursor: pointer;
    float: right;
}

.img-fetch {
    width: 20px;
}

.city {
    color: variables.$terciaria-color;
    font-size: 28px;
    font-weight: 300;
}

.media-box {
    margin-top: 30px;
}

.temperature {
    font-size: 20px;
    color: variables.$terciaria-color;
    margin-top: 20px;
}

.minor-box {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.predictive-text {
    color: variables.$terciaria-color;
    margin-left: 20px;
    text-transform: capitalize;
}

.moisture {
    color: variables.$terciaria-color;
    margin-top: 20px;
}